@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
}

input[type=text], textarea{
    width: 25rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.heading h1{
    width: 25rem;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(65, 179, 65);
}

.btn button{
    width: 10rem;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: rgb(65, 179, 65);
    color: white;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 550px) {
    input[type=text], textarea{
        width: 15rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .heading h1{
        width: 15rem;
        font-size: 1.5rem;
    }
    .btn button{
        width: 8rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 330px) {
    input[type=text], textarea{
        width: 7.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .heading h1{
        width: 7.5rem;
        font-size: 0.7rem;
    }
    .btn button{
        width: 6rem;
        font-size: 0.5rem;
        padding: 0.2rem;
    }
}
